@bgColor: #272c34;
@textColor: #fff;
@lightBgColor: #CCC;
@darkTextColor: #000;

@import "./less/global.less";
@import "./less/forms.less";
@import "./less/topIcon.less";
@import "./less/notification.less";
@import "./less/helpers.less";

.content {
    padding: 40px;
}
.label {
    color: @textColor;
}


.maxHeight {
    height: 100%;
}

.vGrid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
}
    .vGrid-headerButtons,
    .vGrid-timerCircle,
    .vGrid-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .vGrid-headerButtons {
        height: 20%;
    }
    .vGrid-timerCircle {
        height: 50%;
    }
    .vGrid-footer {
        height: 30%;
    }


.hGrid {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
    .hGrid-left {
        width: 40%;
        text-align: left;
    }
    .hGrid-right {
        width: 40%;
        text-align: right;
    }


.staticPreloader {
    @size: 100px;
    width: @size;
    height: @size;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    margin: -50px 0 0 -50px;
    z-index: 1;

    span {
        position: absolute;
        background: #666;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        margin: -5px 0 0 -5px;
    }

    span:first-child {
        left: 10%;
    }

    span:last-child {
        right: 10%;
        left: auto;
    }
}
