.notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #5A7D8B;
    padding: 1em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

    .notification--danger {
        background: #F24100;
    }
    .notification--success {
        background: #CED900;
    }


.notification-icon {
    vertical-align: middle;
    margin-right: 1em;
}
